@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.body{
    background-color: black;
    
}

.navigation{
    margin-top: 20px;
    color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
}
.navigation .nav{
    list-style: none;
    display: flex;
    gap: 40px;
}
.navigation button{
    box-shadow: 0 1px 2px 3px;
    background-color: pink
    ;
    border-radius: 5px;
    cursor: pointer;
}
.section-1{
    color: white;
    display: flex;
    justify-content: space-around;
}
.section-1 .section-1-banner{
    height: 50vh;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    gap: 30px;
}
.section-1 .section-1-banner .banner-1{
    color: pink;
    width: 50%;
    padding: 0 5px;
    padding-left: 100px;
    
    border-radius: 25px;
}
.section-1 .section-1-banner .banner-1 button{

    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: skyblue;
    color: ;
    
    
}

.section-1 .section-1-banner .banner-2 img{
    width: 50%;
    border-radius: 60%;

}
.section-2 {
    height: 80vh;
background: url(https://cdn.wallpapersafari.com/31/53/D4qLr8.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}

.section-2 .section-2-container{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    color: pink;
    align-items: center;
    gap: 1px;

}
.section-2 .section-2-container .banner-1{
    width: 50%;
}
.section-2 .section-2-container .banner-1 img{
    width: 60%;
    padding:100px;
}
.section-2 .section-2-container .banner-2 h3{
    font-style: oblique;
    font-size: 50px;

}
.section-2 .section-2-container .banner-2{
    padding-top: 0px;
    width: 50%;
padding-right: 0 50px;    
}
.section-2 .section-2-container .banner-2 button{
    
    color: blue;
    background-color:palegreen;
    border-radius: 5px;
    margin-top: 20px;
}
.section-2 .section-2-container .banner-2 button:hover{
    box-shadow: 0 0 2px 1px;
    background-color: pink;
    cursor: pointer;
}
.section-3{
    color: pink;
    height: 8   0vh;
    justify-content: center;
    align-items: center;
    
}
.section-3 h3{
    margin-top: 10px;
    font-size: 30px;
    color:pink;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
}
.section-3 p{
    margin-top: 25px;
    text-align: center;
}
.section-3 .section-3-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section-3 .section-3-container img{
width: 300px;

}
.section-3 button{
    margin-top: 90px;
    margin-left: 700px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color:pink;
    border:none;
}
.section-3 button:hover{
    box-shadow: 0 0px 3px 1px red;
    cursor: 
    pointer     ;
    
}

.section-5{
height: 40vh;
color: black;
align-items: center;
text-align: center;
background-color: darkslategray;
}
.section-5 .section-5-cards {

    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
    gap: 5px;
}

.section-5 .section-5-cards .card-1{

    width: 50%;
    margin-top: 40px;
    color: black;

}
.section-5  h2{
margin-top: 50px;
    color: yellowgreen;

}

.section-5 .section-5-cards .card-1 a{

    color: black;

}

.section-5 h2{
    margin-top: 50px;
    color: gree;
    font-style: italic;
}
.section-5 p{
    width: 50%;
    margin-top: 5px;
    margin-left: 300px;
}
.section-5 .section-5-cards ul li{
    margin-top: 20px;
    list-style: none;
    
    

}
.section-5 .section-5-cards .card-2 {
    margin-top: 40px;
    color: black;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}
.section-5 .section-5-cards .card-2 .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 300px;
    color: aqua;
     box-sizing:border-box   ;
}
.section-5 .section-5-cards .card-2 button {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: pink;

}
.section-5 .section-5-cards .card-2 button:hover{
    box-shadow: 0 0 1px 1px;
    color: aqua;
    cursor: pointer;
}
